################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/
/Source/Domain/obj
/Source/Domain/bin/
/Source/FreeJokesApi/obj
/Source/FreeJokesApi/bin/
/Source/Application/bin/
/Source/Application/obj
/Source/Persistence/obj
/Source/Persistence/bin/
/Source/Domain.Test/bin/Debug/netcoreapp2.0
/Source/Domain.Test/obj
/Source/Domain2.Test/bin/Debug/netcoreapp2.0
/Source/Domain2.Test/obj
/Source/Application.Test/obj
/Source/Domain.Test/bin/Debug
/Source/packages
/Source/Domain.Test/Domain.Test.csproj.user
/Source/Application.Test/bin/Debug
/Source/Persistence.Test/bin/Debug
/Source/Persistence.Test/obj/Debug
