################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/FreeJokesApi/v15
/Source/Domain/obj
/Source/Domain/bin/
/Source/FreeJokesApi/obj
/Source/FreeJokesApi/bin/
/Source/Application/bin/
/Source/Application/obj
/Source/Persistence/obj
